.app {
    display: inline-block;
}

input[type=radio] {
    position: relative;
    border: 0px;
    width: 80%;
    height: 2rem;
    opacity: 0.1;
    margin: 10px;
    z-index: 1;
}

.star {
    cursor: pointer;
    position: absolute;
    top: 470px;

}

.lable {


}

@media (max-width:499px) {
    .star {
        cursor: pointer;
        position: absolute;
        top: 500px;

    }
}